@use "@picocss/pico/scss/pico" with (
    $theme-color: "pumpkin",
    $enable-semantic-container: true,
    $enable-classes: true,
    $enable-responsive-typography: false,
    $css-var-prefix: "--dev-",
    $breakpoints: (
        md: (
            breakpoint: 768px,
            viewport: 90%,
        ),
        lg: (
            breakpoint: 1024px,
            viewport: 760px,
        ),
        xl: (
            breakpoint: 1280px,
            viewport: 940,
        ),
        xxl: (
            breakpoint: 1536px,
            viewport: 1100px,
        ),
    ),
    $modules: (
        "themes/default": true,

        // Layout
        "layout/document": true,
        "layout/landmarks": true,
        "layout/container": false,
        "layout/section": true,
        "layout/grid": false,
        "layout/overflow-auto": false,

        // Content
        "content/link": true,
        "content/typography": true,
        "content/embedded": true,
        "content/button": true,
        "content/table": false,
        "content/code": false,
        "content/figure": true,
        "content/misc": true,

        // Forms
        "forms/basics": false,
        "forms/checkbox-radio-switch": false,
        "forms/input-color": false,
        "forms/input-date": false,
        "forms/input-file": false,
        "forms/input-range": false,
        "forms/input-search": false,

        // Components
        "components/accordion": false,
        "components/card": true,
        "components/dropdown": false,
        "components/group": true,
        "components/loading": false,
        "components/modal": false,
        "components/nav": true,
        "components/progress": false,
        "components/tooltip": false,

        // Utilities
        "utilities/accessibility": true,
        "utilities/reduce-motion": false,
    )
);

:root,
:host {
    --dev-font-size: calc(0.5vw + 1rem);
}

.deskonly {
    @media (max-width: 768px) {
        display: none;
        visability: hidden;
    }
}
