:root {
    --background: #ffffff;
    --text-color: #171717;

    /*=====
    #Color #Palette #Variables
    Variables follow convention found here: https://codepen.io/paceaux/pen/XdxQza
    Color is a very dark gray:  rgb (31, 31, 31). Grays are multiples of 31.
    The NeutralDarker gray passes WCAGAA for contrast against a light background
=====*/
    --colorNeutralDarker: rgb(31, 31, 31); /* #1f1f1f; hsl(0%, 0%, 12%) */
    --colorNeutralDark: rgb(62, 62, 62); /* #5d5d5d; hsl(0, 0%, 36%) */
    --colorNeutral: rgb(155, 155, 155); /* #9b9b9b; hsl(0, 0%, 61%) */
    --colorNeutralLight: rgb(186, 186, 186); /* #bababa; hsl(0, 0%, 73%) */
    --colorNeutralLighter: rgb(217, 217, 217); /* #d9d9d9; hsl(0, 0%, 85%) */

    /*
     These colors pass WCAG 2.1 for contrast against a light background and the NeutralDarker gray
     Before you change them, check your contrast ratios:  https://webaim.org/resources/linkcontrastchecker/
    */
    --colorCool: rgb(47, 120, 193); /*   #2f78c1; hsl(210, 61%, 47%);  */
    --colorCoolDarker: rgb(41, 105, 168); /*  #2a6bac;  hsl(210, 61%, 41%) */

    /*=====
    #Color #Link #Border #Variables
    Variables follow convention found here: https://gist.github.com/paceaux/8638765e747f5bd6387b721cde99e066#sassscssstylus-naming
=====*/
    --baseTextColor: var(--colorNeutralDarker);
    --baseEditorialTextColor: var(--colorNeutralDark);
    --baseLinkColor: var(--colorCool);
    --baseLinkColorHover: var(--colorCoolDarker);
    --baseInlineBorderColor: var(--colorNeutralLight);

    --baseTextLineColor: var(--baseTextColor);
    --alertTextLineColor: rgb(255, 0, 0);

    --baseQuoteBackgroundColor: 155, 155, 155; /* Same as colorNeutral*/

    /*=====
    #LineHeight #Variables
=====*/
    --baseLineHeight: 1.618;
    --smallLineHeight: 1.2;

    /*=====
    #Body #Size #Paragraph #content-flow #Variables
=====*/
    --biggestTextSize: 1.3em;
    --biggerTextSize: 1.2em;
    --bigTextSize: 1.1em;
    --baseTextSize: 1em;
    --smallTextSize: 0.8em;
    --smallerTextSize: 0.75em;
    --smallestTextSize: 0.618em;

    /*=====
    #Heading #Title #Size #Variables
    The small title sizes use the big text sizes; so they overlap
    They're here, though, so that, if desired, we can deviate and not have them overlap
=====*/
    --biggestTitleSize: 2.6179em; /* (16 x 1.618) x 1.618 */
    --bigTitleSize: 1.618em;
    --baseTitleSize: 1.5em;
    --smallTitleSize: var(--biggestTextSize);
    --smallerTitleSize: var(--biggerTextSize);
    --smallestTitleSize: var(--bigTextSize);

    /*=====
    #Spacing #Text #Size #Variables
    rem for left-right, for consistent alignment.
    em for top/bottom, so the spacing is relative to font-size
=====*/
    --bigSpacingHorizontal: 1.618rem;
    --baseSpacingHorizontal: 0.618rem;

    --bigSpacingVertical: 1.618em;
    --baseSpacingVertical: 0.618em;

    /*=====
    #Font #FontFamilies #Typeface #Code #Heading #Paragraphs #Variables
    base is meant to be what's applied to the majority of body copy
    title could also be called "headline", but would be  w/ other vars
=====*/
    --baseFontFamily: -apple-system, BlinkMacSystemFont, sans-serif;
    --titleFontFamily: helvetica, arial, sans-serif;
    --codeFontFamily: monospace;

    /*=====
    #Font #Weight #Variables
    though font-weight ranges from 100 - 900, "normal" is 400 and the ends
         are a difference of 300 .
    So the "est" weights are the extremes, with room to add
        light, lighter, heavy, heavier.
    Recommend adding "ultra" if the weight is > 700
=====*/
    --lightestFontWeight: 100;
    --baseFontWeight: 400;
    --heaviestFontWeight: 700;

    /*=====
    #font #style #Variables
    Oblique will use the existing font and put the glyphs at an angle
    Alternate will look for a font labelled with an italic face
    If the browser doesn't have a labelled italic font, it synthesizes oblique
=====*/
    --shiftedFontVoice: oblique 15deg;
    --baseFontVoice: normal;
    --alternateFontVoice: italic;

    /*=====
    #font #quotes #border #Variables
    These are the default quotes for English. Change these quotes-as needed for other languages
    "secondary" quotes are nested quotes. e.g. <blockquote><blockquote>
    the CSS properties 'open-quote', 'close-quote' will use the primary open and primary close quotes listed here
=====*/
    --baseTextQuotes: "\201C" "\201D" "\2018" "\2019"; /*Primary open, primary close, secondary open, secondary close*/
    --baseQuoteBorder: 10px solid var(--colorNeutralLighter);
    --smallQuoteBorder: 5px solid var(--colorNeutralLight);

    /*=====
    #font #text #interactions #Variables
    Interactions could/should include
        idle: not being used, but an indicator that it can be
        interest: a user has shown desire to interact (e.g. hover or focus)
        active: a user is currently interacting
=====*/
    --idleTextLineStyle: dotted;
    --interestTextLineStyle: solid;
    --activeTextLineStyle: solid;
    --idleTextDecoration: var(--idleTextLineStyle) underline 2px;
}

/*@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --text-color: #ededed;
    }
}*/
