.ContentLink {
    text-decoration: none;
    background: var(--dev-card-background-color);
    transition: none;

    &::after {
        display: none;
    }

    article {
        transition: box-shadow 0.2s ease;
        margin-bottom: 0;
    }

    &:hover article {
        box-shadow: 0 0 0 1px var(--dev-primary-hover-border);
    }
}
