.Header {
    position: sticky;
    top: 0;
    padding-bottom: 0;
    padding-inline: var(--dev-block-spacing-horizontal);
    background-color: var(--dev-background-color);
    z-index: 10;

    &__linksNav {
        li {
            margin-inline: 0.3rem;
        }
    }

    &__outlineLink {
        --dev-nav-link-spacing-vertical: 0.2rem;

        &[aria-current="true"] {
            &::after {
                scale: 1 1;
            }
        }
    }

    &__linkMain {
        text-decoration: none;

        &::after {
            display: none;
        }
    }
}
