@import url('./base.css');
@tailwind components;
@tailwind utilities;

@layer components {
  .wave-animation {
    animation-name: waveAnimation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
  }

  @keyframes waveAnimation {
    0%,
    60%,
    100% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(10deg);
    }
    10%,
    30% {
      transform: rotate(14deg);
    }
    20% {
      transform: rotate(-8deg);
    }
    40% {
      transform: rotate(-4deg);
    }
  }
}
