:root {
  --color: #222222;
  --primaryColor: #035094;
  --lightPrimaryColor: #d9e5f4;
  --darkPrimaryColor: #001e5f;
  --bgColor: #f2f2f2;
  --muteColor: #ccc;
}

[data-theme='dark'] {
  --color: #fafafa;
  --primaryColor: #6ed2cb;
  --lightPrimaryColor: #172f30;
  --darkPrimaryColor: #356c6d;
  --bgColor: #141414;
  --muteColor: #333;
}
